<head>
    <script src="/js/search.js" defer></script>
</head>

<header class="site-header">
    <div class="header-inner">
        <div class="site-logo">
            <a href="/" class="nav-link">Fantasy Book Summaries</a>
        </div>

        <div class="search search-shell"  id="searchShell">
            {% include "siteSearch.njk" %}
        </div>

        <nav class="site-nav nav-desktop">
            {% include "navLinks.njk" %}
        </nav>

        <!-- MOBILE ACTIONS -->
        <div class="header-actions">

            <button
                class="icon-btn mobile-search-toggle"
                id="mobileSearchToggle"
                aria-label="Open search"
            >
                🔍
            </button>

            <button
                class="icon-btn mobile-nav-toggle"
                id="mobileNavToggle"
                aria-label="Open menu"
            >
                ☰
            </button>

        </div>

    </div>

    <!-- MOBILE NAV PANEL -->
    <div class="mobile-nav-panel" id="mobileNavPanel">

        <nav class="mobile-nav">
            {% include "navLinks.njk" %}
        </nav>

    </div>
</header>