<a href="/" class="nav-link">Home</a>
<a href="/books/" class="nav-link">Books</a>
<a href="/lists/" class="nav-link">Lists</a>
<a href="/fantasy-recs/" class="nav-link">Fantasy Recs</a>
<a href="/trivia/" class="nav-link">Trivia</a>
<a href="/book-inventory/" class="nav-link">TBR/Inventory</a>
<a href="/about/" class="nav-link">About</a>