<aside
  class="card book-card"
  id="random-book-widget"
  data-books='{{ collections.books | bookClientData | dump | escape }}'
>
  <h3>Random Book</h3>
  <p id="random-book">Loading...</p>
</aside>

<script src="/js/randomBook.js"></script>