<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self';
        script-src 'self';
        style-src 'self';
        img-src 'self' data:;
        font-src 'self';
        object-src 'none';
        base-uri 'self';
        form-action 'self';
        frame-ancestors 'self';
      ">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta name="theme-color" content="#white">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta name="referrer" content="strict-origin-when-cross-origin">

    <title>{{ title or "Fantasy Book Summaries" }}</title>
    <meta name="keywords" content="{{ keywords or 'fantasy, book summaries, word count, fantasy recommendations, book reviews, fantasy reviews' }}">
    <meta name="description" content="{{ description or 'Summaries and reviews of popular fantasy books, or anything else I read, as well as Fantasy Recommendations' }}">

    <link rel="canonical" href="{{ 'https://www.fantasybooksummaries.com' + permalink }}"/>
    <link rel="shortcut icon" href="/files/other/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/elasticlunr.min.js" defer></script>
    <script src="/js/mobileControls.js" defer></script>
    <script src="/js/search.js" defer></script>

    <meta property="og:title" content="{{ title or 'Fantasy Book Summaries' }}">
    <meta property="og:site_name" content="Fantasy Book Summaries">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ 'https://www.fantasybooksummaries.com' + permalink }}">
    <meta property="og:type" content="website">

    {% block extraHead %}{% endblock %}
  </head>

  <body class="site-shell">
    {% include "header.njk" %}
    <main class="page-width">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
  </body>
</html>