<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ "Library" }}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/files/covers/favicon.png">
    <link rel="shortcut icon" href="/files/other/favicon.ico">

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/elasticlunr.min.js" defer></script>
    <script src="/js/search.js" defer></script>
  </head>

  {% include "header.njk" %}
  <main class="base-layout">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </main>

</html>