---
layout: base.njk
permalink: /about/
title: About
description: Information about my site
keywords: about, fantasy
---

<article class="content-section">
  <h1>{{ title }}</h1>

  <section>
    <h3>Updates</h3>
    <p>I will normally update once a week, or whenever I finish multiple books.</p>
  </section>

  <section>
    <h3>Scoring</h3>
    <ul>
      <li>A 5 is an average book, equal amount of good and bad</li>
      <li>My general recommendation is anything under 5 is not worth reading</li>
      <li>I score the books right after I finish, so some books move up or down mentally in my head but I leave the score the same</li>
      <li>Obviously outside factors go into how I feel about a book, especially narrator for audiobooks</li>
      <li>Over time I have become a bit harsher, so some books that got decent scores a few years ago would do a lot worse now</li>
    </ul>
  </section>

  <section>
    <h3>Reviews</h3>
    <h5>Reviews will not contain spoilers (as much as possible)</h5>
    <p>The majority of books I have tracked have a least something written about them</p>
    <p>I try to avoid mentioning any details about the books, since I like to read books without knowing much about them</p>
    <p>With series it can be tough to completely avoid mentioning character names and stuff for later books so be careful if you care about that</p>
  </section>

  <section>
    <h3>Summaries</h3>
    <h5>Summaries will contain spoilers</h5>
    <p>I started writing book summaries in Summer 2025</p>
    <p>They vary in quality but I do think I am getting better the more of them I do</p>
    <p>I also tend to put in more effort based on how much I like the book. For a very specific example look at Ship of Magic</p>
  </section>

  <section>
    <h3>Trivia</h3>
    <p>I really enjoy fantasy trivia questions so I started writing my own</p>
    <p>Beginning in Spring 2026 I have been trying to get at least a few good questions per book<p>
    <p>I plan to work on some sort of engine to let users sort by series, difficulty, etc... and have the questions given to them like a quiz<p>
  </section>

  <section>
    <h3>Contact</h3>
    <h6>fantasybooksummaries@gmail.com</h6>
    <p>Contact me about any book requests, typos, website bugs/improvements</p>
  </section>

  <p>
    This is an ongoing project I am working on, so there will be changes to the site over time. Build using 11ty.
  </p>

</article>

{% include "footer.njk" %}