---
layout: base.njk
permalink: /about/
title: About
---

<section class="content-section">
  <h1>{{ title }}</h1>

  <h2>Key Items</h2>

  <dl class="item-list">
    <dt><strong>Ratings</strong></dt>
    <dd>A 5 is average. Anything over 5 is good, under 5 bad.</dd>

    <dt><strong>Time</strong></dt>
    <dd>Started loosely tracking in the summer of 2022, been adding more detail since</dd>

    <dt><strong>Contact</strong></dt>
    <dd>idk email</dd>
  </dl>

  <div class="info-section">
    <p>
      information section
    </p>
  </div>

</section>

{% include "footer.njk" %}