---
layout: base.njk
permalink: /books/
title: All Books
keywords: fantasy, books, fantasy books, filtering, sorting, ranking
description: A filterable list of all the books I have read
---

{% block extraHead %}
  <script src="/js/nouislider.min.js" defer></script>
  <script src="/js/bookFilter.js" defer></script>
{% endblock %}

<div class="books-page">

  <aside class="sidebar sidebar-left" id="leftSidebar">
    <h2>Filters</h2>

    <div class="slider-group">
      <label for="scoreSlider">Score Range:</label>
      <div id="scoreSlider"></div>
      <div id="scoreLabel"></div>
    </div>

    <div class="slider-group">
      <label for="pageSlider">Page Range:</label>
      <div id="pageSlider"></div>
      <div id="pageLabel"></div>
    </div>

    <div id="countSliderParent" class="slider-group">
      <label for="countSlider">Count:</label>
      <div id="countSlider"></div>
      <div id="countLabel"></div>
    </div>

    <div class="checkbox-group">
      <label for="hasScoreToggle" id="hasScoreToggleParent" class="checkbox-row">
        <input type="checkbox" id="hasScoreToggle" value="true">
          Has Score?
        </label>

      <label for="hasSummaryToggle" id="hasSummaryToggleParent" class="checkbox-row">
        <input type="checkbox" id="hasSummaryToggle" value="true">
          Has Summary?
        </label>

      <label for="hasReviewToggle" id="hasReviewToggleParent" class="checkbox-row">
        <input type="checkbox" id="hasReviewToggle" value="true">
          Has Review?
        </label>

      <label for="isOwnedToggle" id="isOwnedToggleParent" class="checkbox-row">
        <input type="checkbox" id="isOwnedToggle" value="true">
          Owned?
        </label>
    </div>

    <select id="yearReadFilter" class="filter-select">
      <option value="">Any</option>
    </select>

    <select id="formatFilter" class="filter-select">
      <option value="">All Formats</option>
    </select>

    <button id="scrollTopBtn" title="Scroll to top" class="scroll-top-btn">
      Top ↑
    </button>

  </aside>

  <main class="content">
    <h1 id="pageTitle">{{ title }}</h1>

    <div class="mobile-sidebar-controls">
      <button
        class="sidebar-toggle left-toggle"
        id="leftSidebarFilterToggle"
      >
        ☰
      </button>
    </div>

    <div class="sidebar-backdrop" id="sidebarBackdrop"></div>

    <button
      class="mobile-filter-toggle"
      aria-expanded="false"
      aria-controls="mobileFilters"
    >
      Filters & Sort
    </button>

    <div class="filter-group" id="mobileFilters">

      <div class="filter-row">
        <section>

          <h3>Filters</h3>

          <select id="combineToggle" class="filter-select">
            <option value="book">Books</option>
            <option value="series">Series</option>
            <option value="read">Reads</option>
            <option value="author">Authors</option>
          </select>

          <div class="search-controls">
            <input
            id="booksSearchInput"
            placeholder="Search..."
            autocomplete="off"
            class="filter-input"
          >

            <div class="search-options">
              <label><input id="booksSearchTitle" type="checkbox" value="true" checked>Title</label>
              <label><input id="booksSearchAuthor" type="checkbox" value="true" checked>Author</label>
              <label><input id="booksSearchSeries" type="checkbox" value="true" checked>Series</label>
            </div>
          </div>

          <select id="authorFilter" class="filter-select">
            <option value="">All Authors</option>
          </select>

          <select id="seriesFilter" class="filter-select">
            <option value="">All Series</option>
          </select>

          <select id="genreFilter" class="filter-select">
            <option value="">All Genres</option>
          </select>

        </section>

        <section>
          <h3>Sort</h3>

          <select id="sortField" class="filter-select"></select>

          <select id="sortDirection" class="filter-select">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>

        </section>

      </div>

      <div class="filter-actions">
        <button id="filterResetButton" class="button-danger">Reset</button>
      </div>

    </div>

    <div class="stats">
      <span>Count: <strong id="bookNumberLabel">0</strong></span>
      <span>Pages: <strong id="pageCountLabel">0</strong></span>
      <span>Avg Pages: <strong id="pageAverageLabel">0</strong></span>
      <span>Avg Score: <strong id="scoreAverageLabel">0</strong></span>
    </div>

    <hr>

    {# <script id="bookData" type="application/json">
    {
      "books": [
        {% for book in collections.books | sort(attribute="data.title") %}
        {
          "type": "book",
          "url": "{{ book.url }}",
          "coverSlug": "{{ book.data.coverSlug }}",
          "title": {{ book.data.title | toJson  | safe }},
          "author": {{ book.data.author | toJson  | safe }},
          "series": {{ (book.data.series or "") | toJson  | safe }},
          "otherSeries": {{ (book.data.otherSeries or "") | toJson  | safe }},
          "seriesNumber": {{ book.data.seriesNumber or 0 }},
          "pages": {{ book.data.pages or 0 }},
          "yearPublished": {{ book.data.yearPublished or 0 }},
          "publisher": {{ (book.data.publisher or "") | toJson  | safe }},
          "avgGoodreadsRating": {{ book.data.avgGoodreadsRating or 0 }},
          "numGoodreadsRatings": {{ book.data.numGoodreadsRatings or 0 }},
          "hasSummary": {{ "true" if book.data.hasSummary else "false" }},
          "hasScore": {{ "true" if book.data.hasScore else "false" }},
          "hasReview": false,
          "count": {{ book.data.readCount or 0 }},
          "genre": {{ (book.data.genre or "") | toJson  | safe }},
          "subgenre": {{ (book.data.subgenre or "") | toJson  | safe }},
          "bookOwned": {{ "true" if book.data.bookOwned else "false" }},
          "averageScore": {{ book.data.averageScore or 0 }},
          "latestScore": {{ book.data.latestScore or 0 }}
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],

      "reads": [
        {% set isFirst = true %}
        {% for read in collections.reads %}
          {% for book in collections.books %}
            {% if book.data.bookSlug == read.data.bookSlug %}
              {% if not isFirst %},{% endif %}
              {% set isFirst = false %}
              {
                "type": "read",
                "url": {{ book.url | toJson | safe }},
                "coverSlug": {{ book.data.coverSlug | toJson | safe }},
                "title": {{ book.data.title | toJson | safe }},
                "author": {{ book.data.author | toJson | safe }},
                "series": {{ (book.data.series or null) | toJson | safe }},
                "otherSeries": {{ (book.data.otherSeries or null) | toJson | safe }},
                "seriesNumber": {{ book.data.seriesNumber or 0 }},
                "pages": {{ book.data.pages or 0 }},
                "yearPublished": {{ book.data.yearPublished or 0 }},
                "publisher": {{ (book.data.publisher or null) | toJson | safe }},
                "avgGoodreadsRating": {{ book.data.avgGoodreadsRating or 0 }},
                "numGoodreadsRatings": {{ book.data.numGoodreadsRatings or 0 }},
                "hasSummary": {{ "true" if book.data.hasSummary else "false" }},
                "hasScore": {{ "true" if book.data.hasScore else "false" }},
                "hasReview": {{ "true" if read.data.hasReview else "false" }},
                "readCount": {{ book.data.readCount or 0 }},
                "genre": {{ (book.data.genre or null) | toJson | safe }},
                "subgenre": {{ (book.data.subgenre or null) | toJson | safe }},
                "bookOwned": {{ "true" if book.data.bookOwned else "false" }},
                "averageScore": {{ book.data.averageScore or 0 }},
                "latestScore": {{ book.data.latestScore or 0 }},
                "score": {{ read.data.score or 0 }},
                "dateFinished": {{ read.data.dateFinished | toJson | safe }},
                "readNumber": {{ read.data.readNumber or 0 }},
                "format": {{ (read.data.format or null) | toJson | safe }},
                "days": {{ read.data.days or 0 }},
                "yearRead": {{ read.data.yearRead or 0 }}
              }
            {% endif %}
          {% endfor %}
        {% endfor %}
      ],

      "series": [
        {% for series in collections.series %}
        {
          "type": "series",
          "url": "/books/?series={{ series.name | lower | urlencode }}",
          "name": {{ series.name | toJson  | safe }},
          "author": {{ series.books[0].data.author | toJson  | safe }},
          "averageScore": {{ series.averageScore or 0 }},
          "count": {{ series.count or 0 }},
          "pages": {{ series.pages or 0 }},
          "avgPages": {{ series.avgpages or 0 }},
          "covers": [
            {% set coverCount = 0 %}
            {% for book in series.books %}
              {% if coverCount < 4 %}
                {% if coverCount > 0 %},{% endif %}
                {{ book.data.coverSlug | toJson | safe }}
                {% set coverCount = coverCount + 1 %}
              {% endif %}
            {% endfor %}
          ]
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],

      "authors": [
        {% for author in collections.authors %}
        {
          "type": "author",
          "url": "/books/?author={{ author.name | lower | urlencode }}",
          "name": {{ author.name | toJson  | safe }},
          "averageScore": {{ author.averageScore or 0 }},
          "count": {{ author.count or 0 }},
          "pages": {{ author.pages or 0 }},
          "avgPages": {{ author.avgpages or 0 }},
          "covers": [
            {% set coverCount = 0 %}
            {% for book in author.books %}
              {% if coverCount < 4 %}
                {% if coverCount > 0 %},{% endif %}
                {{ book.data.coverSlug | toJson | safe }}
                {% set coverCount = coverCount + 1 %}
              {% endif %}
            {% endfor %}
          ]
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }
    </script> #}
    {# <script id="coverMetaData" type="application/json">
      {{ coverMeta | toJson | safe }}
    </script> #}

    <div id="booksView" class="book-grid book-grid-hidden"></div>

  </main>

</div>
