---
layout: base.njk
permalink: /fantasy-recs/
title: Fantasy Recommendations
---

<section class="content-section">
  <h1>Fantasy Recommendations</h1>

  <p>
    These are the books I think are best to begin each subgenre, or just for getting started with fantasy in general.
  </p>

  <h2>General Adult Fantasy</h2>

  <ul class="item-list">
    <li>
      <strong>Mistborn</strong><br>
      Description for the first item.
    </li>

    <li>
      <strong>Item Title Two</strong><br>
      Description for the second item.
    </li>

    <li>
      <strong>Item Title Three</strong><br>
      Description for the third item
    </li>
  </ul>

  <div class="info-section">
    <p>
      paragraph information section
    </p>
  </div>

</section>