---
layout: base.njk
permalink: /lists/
---
{% macro renderList(items, title, isSeries) %}
  <details class="ranking-panel">
    <summary>
      <h2>{{ title }}</h2>
    </summary>

    <div class="ranking-content">
      <ol class="ranked-list">
        {% if isSeries %}
          {% for series in items %}
            {% set curSeries = series | booksBySeries(collections.books) %}
            <li class="rank-item">
              <div class="rank-item-inner">

                <div class="series-mosaic">
                  {% for book in curSeries %}
                    <img
                    src="/files/covers/{{ book.data.coverSlug }}.jpg"
                    alt="{{ book.data.title }} cover"
                  >
                  {% endfor %}
                </div>

                <div class="rank-text">
                  <div class="rank-title">
                    <a href="/books/?series={{ series | lower | urlencode }}">{{ series }}</a>
                  </div>

                  <div class="rank-meta">
                    {{ curSeries[0].data.author }}
                  </div>
                </div>

              </div>
            </li>

          {% endfor %}
        {% else %}
          {% for title in items %}
            {% set book = title | bookByTitle(collections.books) %}

            <li class="rank-item">

              <div class="rank-item-inner">

                {% if book and book.data.coverSlug %}
                  <img
                    class="book-cover-list"
                    src="/files/covers/{{ book.data.coverSlug }}.jpg"
                    alt="{{ book.data.title }} cover"
                  >
                {% endif %}

                <div class="rank-text">
                  {% if book %}
                    <div class="rank-title">
                      <a href="{{ book.url }}">{{ book.data.title }}</a>
                    </div>
                    <div class="rank-meta">
                      {{ book.data.series }} — {{ book.data.author }}
                    </div>
                  {% else %}
                    <div class="rank-title">{{ title }}</div>
                  {% endif %}
                </div>

              </div>

            </li>

          {% endfor %}
        {% endif %}
      </ol>
    </div>
  </details>
{% endmacro %}

{########################## LISTS ##################################}

<div class="rankings-wrapper">

  {% for list in lists %}
    {{ renderList(list.items, list.title, list.isSeries) }}
  {% endfor %}

</div>