---
layout: base.njk
permalink: /lists/
---
<head>
  <link rel="stylesheet" href="/css/listsPageStyle.css">
</head>


{% macro renderList(items, title, isSeries) %}
  {% if isSeries %}
    <div class="ranking-panel">
      <h2>{{ title }}</h2>

      <ol class="ranked-list ranked-series">
      {% for series in items %}
        {% set curSeries = series | booksBySeries(collections.books) %}
          <li class="rank-item">
            <div class="rank-item-inner">

              <div class="series-mosaic">
                {% for book in curSeries %}
                  <img
                    src="/files/covers/{{ book.data.coverSlug }}.jpg"
                    alt="{{ book.data.title }} cover"
                  >
                {% endfor %}
              </div>

              <div class="rank-text">
                <div class="rank-title">
                  <a href="/books/?series={{ series | lower | urlencode }}">{{ series }}</a>
                </div>

                <div class="rank-meta">
                  {{ curSeries[0].data.author }}
                </div>
              </div>

            </div>
          </li>

      {% endfor %}
      </ol>
    </div>

  {% else %}

  <div class="ranking-panel">
    <h2>{{ title }}</h2>

    <ol class="ranked-list">

    {% for title in items %}
      {% set book = title | bookByTitle(collections.books) %}

      <li class="rank-item">

        <div class="rank-item-inner">

          {% if book and book.data.coverSlug %}
            <img
              class="book-cover-list"
              src="/files/covers/{{ book.data.coverSlug }}.jpg"
              alt="{{ book.data.title }} cover"
            >
          {% endif %}

          <div class="rank-text">
            {% if book %}
              <div class="rank-title">
                <a href="{{ book.url }}">{{ book.data.title }}</a>
              </div>
              <div class="rank-meta">
                {{ book.data.series }} — {{ book.data.author }}
              </div>
            {% else %}
              <div class="rank-title">{{ title }}</div>
            {% endif %}
          </div>

        </div>

      </li>

    {% endfor %}

    </ol>
  </div>

  {% endif %}
{% endmacro %}

{########################## LISTS ##################################}

<div class="rankings-wrapper">
  
  {% for list in lists %}
    {{ renderList(list.items, list.title, list.isSeries) }}
  {% endfor %}

</div>
